/**
 * Typography
 */
html {
    font-family: "Georgia";
}

/* Book Title */
h1.menu-title {
    font-family: "Open Sans";
}

/**
 * Layout
 */
.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

/**
 * Components
 */

header.codeblock-header {
    font-weight: bold;
    padding: 8px;
    background: var(--table-header-bg);
    margin-top: 32px;
    /* egregious hack to "undo" the top-margin on the following code black */
    margin-bottom: -16px;
}

.photo-credit {
    font-style: italic;
    /* this is probably bad, but there are multiple themes in mdbook and I'm not sure how to concisely support them all */
    opacity: 0.5;
}

.callout {
    padding: 8px 16px 16px 16px;
    margin: 16px 0;
}

.callout h2:first-child,
.callout h3:first-child {
    margin-top: 1em;
}

.rust-callout {
    background-color: #FFDDDD;
}

.rust-callout h2:first-child:before,
.rust-callout h3:first-child:before {
    display: inline-block;
    content: "";
    width: 48px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center bottom -5px;
    background-image: url("../../images/ui/ferris.svg");
    background-size: 40px;
}

