on:
  push:
    branches:
      - main
      - staging
      - trying
      - release/**
      - run-ci/**
  pull_request:
  schedule: [cron: "45 6 * * *"]

name: Run tests
jobs:
  test:
    name: Run Book Tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        container_image:
          - "georust/geo-ci:rust-1.63"
    container:
      image: ${{ matrix.container_image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo test --release

